<html>
	<head>
		<title>უცხო სიტყვათა ლექსიკონი</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		
		<style>
				@font-face {
					  font-family: "geoFont";
					  src: url('./Fonts/aacadln.ttf') format("truetype");
					}
				html, body{
				    height: 100%;
				}
				.container{
				    background-image: url("http://whytoread.com/wp-content/uploads/2014/05/smart-books.jpg");
				    width: 100%;
				    height: 100%;
				    background-size: cover;
				    background-position: center; 
				    padding-top: 120px;
				}
				.center{
				    text-align: center;
				}
				.color{
				    color: #b3d1ff;
				}
				p{
				    padding-top: 15px;
				    padding-bottom: 15px;
				}
				button{
				    margin-top: 20px;
				    
				}
				.alert{
					margin-top: 20px;
					display: none;
				}
				.originalClass{
					font: italic bold 17px/30px Georgia, serif;
					font-family: "geoFont", sans-serif;
					margin: 0px;
  					display: inline;
  					float:left;
				}
				.translatedClass{
					font:15px/30px Georgia, serif;
					font-family: "geoFont", sans-serif;
					 margin: 0px; /* remove all margins to fit two divs in the container */
  					 display: inline; 
  					
				}
				#input{
					font: italic  20px/30px Georgia, serif;
					font-family:'geoFont',sans-serif,italic;

				}
				.innerDiv{
					
					padding-left: 1%;
					float:left;
				}


		</style>
	</head>
	<body onload="$('#success').fadeOut();">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 center">
					<div>
						<div class="form-group ">
							<input type="text" id="input" class="form-control" onkeyup="callback(this)" placeholder="ucxo sityvaTa leqsikoni" />					
						</div>
						
						<div id="success" class="alert alert-success" style="display:inline-block;height:85%;overflow: auto;">
							<div id="con1" class="innerDiv">
								<span id="or1" class="originalClass" ></span>
								<span id=tr1 class="translatedClass" ></span>						
							</div>						
							<div id="con1"  class="innerDiv">
								<span id="or2" class="originalClass" ></span>
								<span id=tr2 class="translatedClass"></span>
							</div>
							<div id="con1"  class="innerDiv">
								<span id="or3" class="originalClass" ></span>
								<span id=tr3 class="translatedClass"></span>
							</div>
							<div id="con1"  class="innerDiv">
								<span id="or4" class="originalClass" ></span>
								<span id=tr4 class="translatedClass"></span>
							</div>
							<div id="con1"  class="innerDiv">
								<span id="or5" class="originalClass" ></span>
								<span id=tr5 class="translatedClass"></span>
							</div>
						</div>
					</div>
						
				</div>
				
			</div>			
		</div>
	</body>

	<script >
	


		function callback(input){
			//alert(input.value);
			if(input.value===''){
					for(var i=1;i<=5;i++){		           	
				           	var or='or'+i;
				           	var tr='tr'+i;
				           	document.getElementById(or).innerHTML ='';
				           	document.getElementById(tr).innerHTML ='';
				           	$("#success").fadeOut();
				           }
			}else{
				   xmlhttp = new XMLHttpRequest();
				   console.log(window.location.host+"/search?Q="+input.value);
				   xmlhttp.open("GET","http://"+window.location.host+"/search?Q="+input.value, true);
				   xmlhttp.onreadystatechange=function(){
				         if (xmlhttp.readyState==4 && xmlhttp.status==200){
				           string=xmlhttp.responseText;
				           var myJson = JSON.parse(string);

				           for(var i=1;i<=myJson.length;i++){		           	
				           	var or='or'+i;
				           	var tr='tr'+i;
				           	document.getElementById(or).innerHTML =myJson[i-1].original+'  -  ';
				           	document.getElementById(tr).innerHTML =myJson[i-1].translated+'  ';
				           }
				           for(var i=myJson.length+1;i<=5;i++){
				           		var or='or'+i;
					           	var tr='tr'+i;
					           	document.getElementById(or).innerHTML ='';
					           	document.getElementById(tr).innerHTML ='';
				           }
				          $("#success").fadeIn();
				         }
				   }
				   xmlhttp.send();
			}
		  
		}
	</script>
</html>